
services:
  BT_SERVICE_NAME6:
    image: zedeus/nitter:latest
    deploy:
      resources:
        limits:
          cpus: ${cpus}
          memory: ${memory_limit}
    ports:
      - ${host_ip}:${kitter_web_port}:8080
    restart: always
    volumes:
      - ${app_path}/config/nitter.conf:/src/nitter.conf
      - ${app_path}/config/sessions.jsonl:/src/sessions.jsonl
    depends_on:
      - kitter-redis
    labels:
      createdBy: "bt_apps"
    networks:
      - baota_net

  kitter-redis:
    image: redis:6-alpine
    deploy:
      resources:
        limits:
          cpus: ${cpus}
          memory: ${memory_limit}
    command: redis-server --save 60 1 --loglevel warning
    restart: always
    volumes:
      - ${app_path}/redis:/data
    labels:
      createdBy: "bt_apps"
    networks:
      - baota_net

networks:
  baota_net:
    external: true
